body {
  margin: 0;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

canvas {
  display: block;
  background-color: #000;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
